<h1>Register Page</h1>

<form action="/Home/Register" method="post">
    <input type="text" name="username" value="" />
    <input type="password" name="password" value="" />
    <input type="radio" id="student" name="roleInSchool" value="Student" />
    <label for="student">Student</label>
    <input type="radio" id="faculty" name="roleInSchool" value="Faculty" />
    <label for="faculty">Faculty</label>
    <input type="radio" id="admin" name="roleInSchool" value="Admin" />
    <label for="admin">Admin</label>
    <button type="submit">Register</button>
</form>

<p>Password needs to be at least 4 characters long and must include a capital letter</p>